body {
  background-color: #EEE;
}

#root {
  display: flex;
  height: 100vh;
  padding: 20px;
  justify-content: center;
}

.grid {
  min-width: 75%;
}

.ui.comments {
  max-width: 100%;
}

.form-wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 350px;
  padding: 20px;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  border-radius: 5px;
}

.comments-fixed {
  height: 500px;
  overflow: auto;
  margin-bottom: 20px;
}